@model User
@* modal *@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới tài xế</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addDriverForm">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label class="form-label">Họ và tên</label>
                            <input asp-for=FullName type ="text" class="form-control" id="fullName" required>
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="PhoneNumber" class="form-label">Số điện thoại</label>
                            <input asp-for=PhoneNumber type="text" class="form-control" id="phoneNumber" required>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="Email" class="form-label">Email</label>
                            <input asp-for=Email type="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="Password" class="form-label">Mật khẩu</label>
                            <input asp-for=Password type="password" class="form-control" id="password" required>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="Province" class="form-label">Tỉnh</label>
                            <select asp-for=ProvinceCode class="form-select" id="province" required>
                                <option disabled selected>-- Chọn tỉnh --</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="District" class="form-label">Quận/Huyện</label>
                            <select asp-for=DistrictCode class="form-select" id="district" required>
                                <option disabled selected>-- Chọn huyện/quận --</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="Ward" class="form-label">Phường/Xã</label>
                            <select asp-for=WardCode class="form-select" id="ward" required>
                                <option disabled selected>-- Chọn phường/xã --</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="Address" class="form-label">Địa chỉ</label>
                            <input asp-for=Address type="text" class="form-control" id="Address" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" onclick="return CreateUserByRole()">Lưu</button>
            </div>
        </div>
    </div>
</div>