<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Danh sách vé xe</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus"></i>
                Thêm mới vé xe
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped mt-4" id="tblData">
        <thead>
            <tr>
                <th>STT</th>
                <th>Số Vé</th>
                <th>Xe Bus</th>
                <th>Điểm Khởi Hành</th>
                <th>Điểm Đến</th>
                <th>Khách Hàng</th>
                <th>Số Ghế</th>
                <th>Ngày Giờ Khởi Hành</th>
                <th>Ngày Giờ Đến Nơi</th>
                <th>Giá Vé</th>
                <th>Trạng Thái</th>
            </tr>
        </thead>

    </table>
</div>
@section Scripts {
}