@model IEnumerable<User>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Danh sách tài xế</h2>
        </div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-plus"></i>
                  Thêm mới tài xế
            </button>
        </div>
    </div>
    <table class="table table-bordered table-striped mt-4" id="tblData">
        <thead>
        <th>Tên</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th>Kích hoạt</th>
        <th>Trạng thái</th>
        <th></th>
        </thead>
    </table>
</div>
<partial name="_Modal" />

@section Scripts {
        <script src="~/js/listDriver.js"></script>
        <script src="~/js/modalUser.js"></script>

}