.otp-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.otp-input {
    width: 60px;
    height: 60px;
    font-size: 28px;
    text-align: center;
    margin: 0 5px;
    border-radius: 10px;
    border: 2px solid #ced4da; /* Border bình thường */
    transition: border-color 0.3s; /* Thêm hiệu ứng chuyển tiếp */
}

    .otp-input:focus {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .otp-input.filled {
        border-color: rgba(0, 123, 255, 0.5); /* Màu xanh lá cho ô đã nhập */
    }

    .otp-input.empty {
        border-color: #ced4da; /* Border bình thường cho ô chưa nhập */
    }
