<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineTicketBookingSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        main {
            flex: 1; /* Giữ cho phần main chiếm không gian còn lại */
        }

        footer {
            background-color: #f8f9fa; /* Màu nền của footer */
            padding: 10px 0; /* Padding cho footer */
            text-align: center; /* Canh giữa nội dung trong footer */
        }

        .section-title {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        /* Thiết kế form liên hệ */
        .contact-form {
            background-color: #ffffff;
            border-radius: 10px;
        }

            .contact-form label {
                font-weight: 600;
                color: #333333;
            }

            .contact-form .form-control {
                border-radius: 8px;
                border: 1px solid #dcdcdc;
                padding: 0.75rem;
                box-shadow: none;
                transition: all 0.3s ease;
            }

                .contact-form .form-control:focus {
                    border-color: #007bff;
                    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
                }

            .contact-form .btn-primary {
                background-color: #007bff;
                border: none;
                border-radius: 8px;
                transition: background-color 0.3s;
            }

                .contact-form .btn-primary:hover {
                    background-color: #0056b3;
                }

                .contact-form .btn-primary:focus {
                    box-shadow: 0 4px 8px rgba(0, 91, 187, 0.3);
                }

        .navbar .nav-link {
            font-weight: 500;
            transition: color 0.3s, transform 0.3s;
        }

            /* Hover effect for nav-links */
            .navbar .nav-link:hover {
                color: #FFD700; /* Golden color for hover effect */
                transform: scale(1.05); /* Slightly enlarge on hover */
                text-decoration: underline;
            }

        /* Style for brand name and hover */
        .navbar-brand {
            font-weight: bold;
            font-size: 1.2em;
            transition: color 0.3s;
        }

            .navbar-brand:hover {
                color: #FFD700; /* Golden color for hover effect */
                text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient">
            <div class="container-fluid">
                <a class="navbar-brand text-white fw-bold fs-4" href="/">Thanh Luân Booking</a>
                <a class="nav-link text-white fs-5 ms-3 d-none d-lg-inline" asp-area="guest" asp-controller="home" asp-action="index">Trang chủ</a>
                <a class="nav-link text-white fs-5 ms-3" asp-area="guest" asp-controller="ContactUs" asp-action="index">Liên hệ</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto" id="userNav">
                        <!-- Nút đăng nhập hoặc thông tin người dùng sẽ được thêm qua JavaScript -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <partial name="_Notifycation" />
        @RenderBody()
    </main>
    </div>
    <footer>
        <div>
            Website Đặt Vé Xe Trực Tuyến © 2024 by Hồ Đình Thanh Luân.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {

            var userNav = $('#userNav');

            // Nếu token không tồn tại, hiển thị nút đăng nhập và chuyển hướng đến trang chủ
            if (!token) {
                userNav.html(`
                                    <li class="nav-item">
                                        <a class="nav-link text-white fw-bold" href="/Account/Login">Đăng Nhập</a>
                                    </li>
                                `);
            } else {
                var avatar = '/images/users/nouser.jpg';  // Avatar mặc định
                var group = 0;
                var userName = "Người dùng";  // Tên người dùng mặc định

                if (user) {
                    try {
                        var userData = JSON.parse(user);
                        avatar = userData.avatar ? '/' + userData.avatar : avatar;
                        group = userData.group || 0;
                        userName = userData.name || "Người dùng";
                    } catch (error) {
                        console.error("Lỗi khi phân tích chuỗi JSON user:", error);
                        // Xóa dữ liệu bị lỗi nếu cần
                        localStorage.removeItem('user');
                    }
                }

                // Gọi API để kiểm tra tính hợp lệ của token và lấy thông tin người dùng
                $.ajax({
                    url: '/api/v1/Token/ValidateAndDecodeToken',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(token),
                    success: function (response) {
                        var decodedToken = response.data;
                        var userName = decodedToken.unique_name;
                        var managementLink = '';
                        if (group === 1) { // Admin
                            managementLink = '<li><a class="dropdown-item" href="/admin/home">Trang Quản Lý</a></li>';
                        } else if (group === 2) { // Tài xế
                            managementLink = '<li><a class="dropdown-item" href="/driver/home">Trang Quản Lý</a></li>';
                        } else {
                            managementLink = `<li><a class="dropdown-item" href="/Guest/Profile/Index?id=${decodedToken.nameid}">Hồ sơ</a></li>`;
                        }

                        // Hiển thị thông tin người dùng với tùy chọn quản lý (nếu có)
                        userNav.html(`
                                     <li class="nav-item dropdown d-flex align-items-center" style="margin-right: 15px;">
                                        <a class="nav-link text-white fw-bold d-flex align-items-center" href="#" id="balanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 8px 10px; border-radius: 5px;">
                                            <span id="balance"></span>
                                            <i class="fas fa-wallet ms-2" style="color: orange; font-size: 1.4em;"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="balanceDropdown">
                                            <li><a class="dropdown-item" href="/Guest/Stripe">Nạp tiền</a></li>
                                            <li><a class="dropdown-item" href="/Guest/TransactionHistory?token=${token}">Lịch sử giao dịch</a></li>
                                            <!-- Thêm mục "Đơn hàng của bạn" -->
                                                            <li><a class="dropdown-item" href="/Guest/Ticket?userId=${decodedToken.nameid}">Đơn hàng của bạn</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-white fw-bold d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 8px 10px; border-radius: 5px;">
                                            <img src="${avatar}" alt="User Avatar" class="rounded-circle" width="30" height="30" style="margin-right: 8px;">
                                            <span>${userName}</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                            ${managementLink}
                                            <li><a class="dropdown-item" id="logout">Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                        `);
                        $.ajax({
                            url: `/api/v1/user/GetInfoUser?token=${token}`,
                            type: 'GET',
                            contentType: 'application/json',
                            success: function (response) {
                                $("#balance").text(response?.data?.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + "đ")
                            },
                            error: function (e) {
                                console.log(JSON.parse(e.responseText).message)
                            }
                        })
                        // Xử lý khi nhấn nút Đăng xuất
                        $('#logout').click(function (event) {
                            event.preventDefault();
                            Swal.fire({
                                title: 'Bạn có chắc chắn muốn đăng xuất?',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Đăng xuất',
                                cancelButtonText: 'Hủy'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    localStorage.removeItem('authToken');
                                    localStorage.removeItem('user');
                                    Swal.fire('Đã đăng xuất!', 'Bạn đã đăng xuất thành công.', 'success').then(() => {
                                        window.location.href = '/';
                                    });
                                }
                            });
                        });
                    },
                    error: function (e) {
                        localStorage.removeItem('authToken');
                        localStorage.removeItem('user');
                        Swal.fire({
                            icon: "error",
                            title: JSON.parse(e.responseText).message,
                            text: "Vui lòng đăng nhập lại",
                        }).then(() => {
                            window.location.href = '/';

                        });
                    }
                });
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
