
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Người dùng</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <!-- Tổng Khách hàng -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                Tổng Khách hàng
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">100</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-4x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Khách hàng Online -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-2">
                                Khách hàng Online
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-4x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Khách hàng Offline -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-2">
                                Khách hàng Offline
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>f
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-times fa-4x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-2">
                                Khách hàng bị khoá
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-lock fa-4x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <!-- Tổng Khách hàng -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col text-center">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                            Tổng tài xế
                        </div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">100</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-4x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Khách hàng Online -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col text-center">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-2">
                            tài xế Online
                        </div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user fa-4x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Khách hàng Offline -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-3">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col text-center">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-2">
                            tài xế Offline
                        </div>
                        <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-times fa-4x text-secondary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-2">
                                tài xế bị khoá
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-lock fa-4x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Xe</h1>
    </div>

    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <!-- Tổng Khách hàng -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">
                                tổng số lượng xe
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">100</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bus fa-4x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Khách hàng Online -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-2">
                                xe hoạt động
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bus fa-4x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Khách hàng Offline -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-2">
                                xe bảo trì
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-bus fa-4x text-secondary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-2">
                                Tổng số chuyến đi
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">50</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-road fa-4x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>