<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="wrapper">
        <header>
            <!-- Navbar cho màn hình lớn (desktop) -->
            <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-3 d-none d-md-block px-4">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="Guest" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    <div class="navbar-collapse collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Account" asp-controller="Login" asp-action="Index">Đăng Nhập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Account" asp-controller="Register" asp-action="Index">Đăng Ký</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar cho màn hình nhỏ (di động) -->
            <nav class="navbar navbar-light bg-light border-bottom mb-3 d-block d-md-none">
                <div class="container-fluid">
                    <a class="navbar-brand text-center w-100" asp-area="Guest" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </div>
                <div class="text-center">
                    <a class="btn btn-outline-dark m-2" asp-area="Account" asp-controller="Login" asp-action="Index">Đăng Nhập</a>
                    <a class="btn btn-outline-dark m-2" asp-area="Account" asp-controller="Register" asp-action="Index">Đăng Ký</a>
                </div>
            </nav>
        </header>

        <!-- Phần content -->
        <div class="content container mt-4">
            <main role="main" class="pb-3">
                @RenderBody()
                <partial name="_ModalVerifyCode" />
            </main>
        </div>

        <!-- Footer sẽ luôn ở dưới đáy -->
        <footer class="footer text-muted">
            <div class="container text-center">
                Hồ Đình Thanh Luân &copy; 2024 - Hệ thống đặt vé xe trực tuyến
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/verifyCode.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            const token = localStorage.getItem('authToken'); // Hoặc kiểm tra từ session hoặc cookie tùy thuộc vào cách bạn lưu token
            const user = localStorage.getItem('user')
            const userGroup = JSON.parse(user)?.group
            if (token) {
                if(userGroup == 1) {
              window.location.href = "/Admin/Home";
                } else if (userGroup == 2) {
                    window.location.href = "/Driver/Home";
                }
                else if (userGroup == 3) {
                    window.location.href = "/";
                }
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
